#wrapper {
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 100vh;
}
.left, .right {
  display: flex;
  flex-direction: column;

}
.box {
  border: solid 4px black;
  display: flex;
  width: 45vw;
}

.title {
  margin: 0;
  display: block;
}

#opponentDiv {
  height: 5%;
  margin: 5px;
  align-self: center;
}

#formationDiv {
  margin: 5px;
  height: 5%;
  align-self: center;
}

#fieldDiv {
  height: 90%;
  margin: 5px;
  background-image: url(../images/half-field.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #009e00;
}

#playersDiv {
  margin: 5px;
  height: 100%;
}

#playersList {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
