body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

#nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  max-width: 80%;
  margin: auto;
  background-color: black;
  color: white;
}
