<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/shared.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Coach 2.0</title>
  </head>
  <body>
    <nav>
      <ul id="nav">
        <li class="nav-items"><a href="index.html">Lineups</a></li>
        <li class="nav-items"><a href="statistics.html">Statistics</a></li>
        <li class="nav-items"><a href="roster.html">Roster</a></li>
      </ul>
    </nav>
    <div id="root"></div>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script  src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/babel" src="/js/index.js"></script>
  </body>
</html>
